@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@600;700&family=Barlow:wght@400;600&family=Be+Vietnam+Pro:wght@400;500;700&family=Big+Shoulders+Display:wght@700&family=Commissioner:wght@400;500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@300;400;500;700&family=Josefin+Sans:wght@300;400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;600;700&family=Lexend+Deca&family=Manrope:wght@500;600;700;800&family=Open+Sans:wght@400;700&family=Outfit:wght@400;700;800&family=Overpass:wght@300;600&family=Poppins:wght@500;700&family=Public+Sans:wght@300;400;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Space+Mono:wght@700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --primary-color:black;
    --secondary-color:rgb(133, 133, 133);
    --background-color: #fff;
    --opac-color:rgba(0, 0, 0, 0.342);
    --h3andcta:rgb(255, 123, 0);
    --opac-orange:rgba(255, 123, 0, 0.295);
    --cart:rgba(71, 178, 214, 0.13);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-boxs;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
    background-color: var(--background-color);
}

header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:10px;
    position: relative;
    z-index:3;
    background-color: var(--background-color);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav:last-child{
    justify-content: center;
    margin:0 0 0 20px;
    position: relative;
}

.sup{
    position:absolute;
    top:-7px;
    left:27px;
    background-color: var(--h3andcta);
    color:var(--background-color);
    font-size: 13px;
    /* font-weight: 900; */
    padding:0px 5px;
    border-radius:10px;
}

header img{
    cursor: pointer;
    margin: 0 10px;
}

header .avatar{
    width:20%;
    border-radius:100px;
}
header .avatar:hover{
    border:2px solid var(--h3andcta);
}

header .logo{
    margin:0 10px 0;
}

header .hamburger{
    order:-1;
}

.opac{
    background-color: var(--opac-color);
    color:var(--primary-color);
    position: absolute;
    width:100%;
    height:100vh;
    left:0;
    top:0;
    display: none;
    z-index: 3;
    
}

@keyframes slideIn{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}

.opac ul{
    animation: slideIn .75s cubic-bezier(0.77, -0.17, 0.46, 2);
    width:55%;
    height:100vh;
    background-color: var(--background-color);
    padding:20px 20px 0;
    list-style: none;
}

.opac ul img{
    margin:10px 0 30px;
}

.opac ul li{
    font-weight: 600;
    padding:10px 0;
    font-size:18px;
    cursor: pointer;
}
 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.container .sub-container{
    position: relative;
    display: block;
}
.container .sub-container .big img{
    position:relative;
    top:-40px;
    width:100%;
    cursor: pointer;
}

.container .sub-container .big img{
    z-index:1;
}
.container .sub-container .thumbnail img{
    display: none;
    cursor: pointer;
} 
.container .sub-container .arrow{
    z-index: 2;
} 
.container .sub-container .arrow img{
    position: absolute;
    top:120px;
    z-index:2;
    background-color: white;
    padding:10px 12px;
    left:10px;
    width:3%;
    border-radius: 100px;
    cursor: pointer;
}
.container .sub-container .arrow .next{
    right:10px;
    left:auto;
}

.container section{
    background-color: var(--background-color);
    /* border:2px solid red; */
    position: relative;
    top:-30px;
    /* border:2px solid black; */
    padding:30px 20px;
}

.container section h3{
    color:var(--h3andcta);
    padding:0 0px 10px;
    font-size:12px;
    font-weight: 900;
    text-transform: uppercase;
}

.container section h1{
    font-size:28px;
    padding:5px 0px;
}

.container section p{
    font-size: 12px;
    font-weight: 700;
    color:var(--secondary-color);
    padding: 5px 0 10px;
    line-height:1.2rem;
} 

.container section aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    padding:10px 0;
}

.container section aside h4{
    font-size: 23px;
}
.container section aside p{
    font-size:15px;
}

.container section aside p:nth-child(2){
    position: absolute;
    left:100px;
    padding:5px 15px;
    background-color: var(--opac-orange);
    color:var(--h3andcta);
    border-radius: 5px;
}

.container section aside p:last-child{
    text-decoration: line-through;
}

.container section figcaption{
    background-color: rgba(173, 216, 230, 0.164);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:5px;
    padding:10px 20px;
    margin:5px 0 10px;
}
.container figcaption img{
    cursor: pointer;
}

.container section figcaption p{
    font-size: 17px;
    color:var(--primary-color)
}

.container section button{
    padding:15px 0;
    width:100%;
    background-color: var(--h3andcta);
    color:var(--background-color);
    font-size: 15px;
    outline:none;
    border:none;
    border-radius:5px;
    font-weight: 700;
    margin:5px 0 20px;
    box-shadow: 0 4px  2px 0 var(--h3andcta);
    cursor: pointer;
}

.container section button img{
    margin:0 10px 0 0;
    filter: invert(100%);
}

.modal-container{
    width:100%;
    height: 150vh;
    background-color: rgba(255, 255, 255, 0); 
    display:none ;
    position:absolute;
    top:30px;
    z-index: 2;
}

.modal{
    width:95%;
    margin:20px 10px 0;
    background-color: var(--background-color);
    padding:15px 0;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.463);
}

.modal h4{
    padding:5px 0px 10px 20px;
    font-size:17px;
}

.modal div{
    text-align: center;
}

.modal section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 20px;
    margin:10px 0;
}

.modal section img:first-child{
    width:20%;
    border-radius:5px;
    margin:0px 5px 0 0;
}

.modal section img:last-child{
    cursor: pointer;
}

.modal summary{
    text-align: left;
}
.modal .shoe{
    font-size: 13px;
    margin:8px 0px;
}
.modal .totals,
.modal .price-tag,
.modal .number{
    font-size: 14px;
}

.modal button{
    width:90%;
    padding:15px  0;
    margin:10px 0;
    font-size: 15px;
    color:var(--background-color);
    background-color: var(--h3andcta);
    border:none;
    outline: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.modalForImageEnlarge{
    display: none;
}


@media screen and (min-width:370px) {
    .container section{
        top:-30px;
        padding:20px 35px;
    }
    .sup{
        left:34%;
        top:-10%;
    }
    .modalForImageEnlarge{
        display: none;
    }
    .modal-content{
        display: none;
    }
    .modalThumbnail{
        display: none;
    }
}

/* @media screen and (min-width:700px) {
    .hamburger{
        display: none;
    }
    header nav{

    }
    header .logo{
        left:0;
        margin:0;
    }
    .opac{
        display:block;
    }
    .opac ul{
        display: flex;
        height: auto;
        background-color: transparent;
    }
    .opac img{
        display: none;
    }
} */

@media screen and (min-width:1000px) {
    .hamburger,
    .close{
        display: none;
    }
   
    header{
        justify-content: space-between;
        border-bottom:1px solid var(--secondary-color);
    }
    .opac{
        display: flex;
        width:auto;
        height: auto;
        order: 2;
        position: relative;
        background-color: transparent;
    }
    .logo{
        order:1;
    }
    .opac ul{
        display: flex;
        height: auto;
        padding:8px 0 0;
        margin: 0 0 0 30px;
    }
    .opac ul li{
        padding:5px;
        margin:0 10px;
        color:var(--secondary-color);
        font-weight: lighter;
        cursor: 600;
    }
    .container{
        flex-direction: row;
        justify-content: center;
        position: relative;
        top:0;
        padding:20px 70px;
    }
    .container section{
        position: relative;
        top:0;
        right:50px;
        /* border:2px solid black; */
        /* padding:20px 100px 20px 0; */
        width:600px;
    }
    .container .sub-container .big img{
          position: relative;
          top:0;
          width:65%;
          border-radius: 10px;
    }
    .container .sub-container .arrow img{
        position: relative;
        top:0;
        display: none;
    }
    .container .sub-container .thumbnail{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin:20px 0 0;
    } 
    .container .sub-container .thumbnail img{
        display: block;
        width:14.6%;
        margin:0 10px 0 0;
        border-radius: 5px;
    }
    .container .sub-container .thumbnail img.first{
        /* opacity:.7;
        border:2px solid var(--h3andcta); */
    } 
    .tabFlex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tabFlex figcaption{
        width:70px;
        /* border:2px solid black; */
    }
    .tabFlex .addToCart{
        width:170px;
        margin:0px 0 0;
        padding:15px 0;
    }
    .tabFlex .addToCart svg{
        margin:0 20px 0 0;
    }
    .modal-container{
        display: none;
    }
    .modal{
        width:300px;
        position: absolute;
        top:20px;
        right:50px;
        left:auto;
        z-index:9;
        /* height:200px; */
    }
    .modal button{
        /* position: absolute;
        bottom:0;
        left:15px; */
    }
    .modalForImageEnlarge{
        display: none;
        z-index: 5;
        border:2px solid black;
        height:100%;
        width:100%;
        padding-top:80px;
        position: fixed;
        top:0;
        left:0;
        /* overflow: auto; */
        background-color: rgba(0,0,0,0.9);
    }
    .modal-content{
        margin:auto;
        display: block;
        width:30%;
        max-width: 700px;
        border-radius:10px;
        animation: zoom .6s;
    }
    .modal-close{
        position: absolute;
        top:15px;
        right:35%;
        color:white;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }
    .modalThumbnail{
        text-align: center;
        display: block;
        animation: zoom .6s;
    }
    .modalThumbnail img{
        width:7%;
        margin:20px 3px 0;
        border-radius:10px;
    }
    
    @keyframes zoom {
        from{transform:scale(0);}
        to{transform: scale(1);}
    }
}

@media screen and (min-width:1300px) {
    header{
        padding:20px 60px;
    }
    .container .sub-container{
        padding:30px 60px;
    }
    .container section{
        width:800px;
        right:120px;
    }
    .container section h1{
        font-size: 35px;
        margin:20px 0;
    }
    .container section p{
        font-size: 16px;
        line-height: 1.6rem;
    }
    .tabFlex figcaption{
        width:120px;
        /* border:2px solid black; */
    }
    .tabFlex .addToCart{
        width:270px;
        margin:-5px 0 0;
        padding:19px 0;
    }
    .tabFlex .addToCart svg{
        margin:0 20px 0 0;
    }
}
@media screen and (min-width:1400px) {
    .container section{
        width:1000px;
        right:40px;
    }
    .container section h1{
        font-size: 45px;
    }
    .tabFlex figcaption{
        width:180px;
    }
    .tabFlex .addToCart{
        width: 310px;
    }
}